.cards-container {
  border: 1px solid black;
  border-right: none;
  padding: 1rem;
}

.cards {
  position: relative;
  right: -9vw;
}

.carousel {
  min-height: 100%;
}

.carousel .carousel-item {
  min-height: 300px;
}

.card-image {
  border: 1px solid;
  border-radius: 1rem;
  height: 500px;
  text-align: center;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
  color: black;
  opacity: 1;
}

.cardImage > a {
  color: black;
  height: 100%;
}
