.footer {
  z-index: 10000;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 2.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 13px;
}
.footer > ul {
  display: flex;
  list-style: none;
}
.footer > ul > li {
  padding: 6px;
  color: #979797;
}
.footer > ul > li > a {
  color: #979797;
  text-decoration: none;
}

@media only screen and (min-width: 1024px) {
  .footer > ul {
    display: flex !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .footer {
    width: 100vw;
    background-image: none;
    justify-content: flex-start;
    margin: 0;
  }
  .footer > ul {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    margin-left: 1rem;
    z-index: 100000;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .footer {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
  .footer > ul {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5px;
  }
  .footer > ul li {
    margin: 0;
    padding: 0 2px;
  }
}

@media only screen and (min-width: 569px) and (max-width: 767px) and (orientation: landscape) {
  .footer {
    font-size: 12px;
    margin: 0;
    padding-bottom: 0;
  }
  .footer > ul {
    display: flex !important;
  }
  .footer > ul li {
    margin: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
  .footer {
    font-size: 10px;
    margin: 0;
    padding-bottom: 0;
  }
  .footer > ul {
    display: flex !important;
  }
  .footer > ul li {
    margin: 0;
  }
}
