.footer {
  z-index: 10000;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 2.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 13px;
}
.footer > ul {
  display: flex;
  list-style: none;
}
.footer > ul > li {
  padding: 6px;
  color: #979797;
}
.footer > ul > li > a {
  color: #979797;
  text-decoration: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .footer {
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    justify-content: flex-start;
    margin: 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .footer {
    height: 16.5rem;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    margin: 0;
    z-index: 0;
  }
  .footer > ul {
    display: none;
  }
}
