.footer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 2.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 13px;
}
.footer > ul {
  display: flex;
  list-style: none;
}
.footer > ul > li {
  padding: 6px;
  color: gray;
}
.footer > ul > li > a {
  color: gray;
  text-decoration: none;
}
