@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

html,
body {
  margin: 0;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}
.site {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    center / cover no-repeat url('../images/home-bg-image.png');
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40vw 1fr;
  min-height: 100vh;
  max-width: 100vw;
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}
