@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

html,
body {
  margin: 0;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.index-bg-image {
  height: 100vh;
}

.index-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.site {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40vw 1fr;
  min-height: 100vh;
  max-width: 100vw;
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}
