@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

html,
body {
  margin: 0;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

.site {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    center / cover no-repeat url('../images/home-bg-image.jpg');
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40vw auto;
  min-height: 100vh;
  max-width: 100vw;
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 2rem;
  /* padding-right: 1rem; */
}

.main > .logo-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.main > .logo-container > .logo {
  margin: 0;
}

.main > .logo-container > h4 {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  margin-top: -3rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #979797;
}

.main > .logo-container:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-top: 20px;
  border-bottom: 2px solid #979797;
  margin-top: -1.5rem;
}

.main > .title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.main > p {
  font-family: 'Roboto', sans-serif;
  color: #fec420;
  margin-bottom: 2rem;
}

.main > ul {
  display: flex;
  list-style: none;
}
.main > ul > li {
  padding: 6px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .site {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .site {
    grid-template-columns: 1fr 60vw;
    padding-bottom: 0;
  }
  .main > .logo-container > img {
    transform: translateX(-2rem);
  }
  .main > .logo-container > h4 {
    transform: translateX(-2rem);
    margin-top: -2rem;
  }
  .main > .logo-container:after {
    margin: -1.5rem 0 0 5rem;
  }
  .main > .title {
    text-align: left;
    font-size: 2rem;
  }
  .main > p {
    font-size: 0.7rem;
    margin: 0 1rem 2rem 1rem;
  }
}
