@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

html,
body {
  margin: 0;
  overflow: hidden;
  max-height: 100vh;
  background-color: black;
}

body {
  font-family: 'Roboto', sans-serif;
}

.site {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    center / cover no-repeat url('../images/home-bg-image.jpg');
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40vw auto;
  min-height: 100vh;
  max-width: 100vw;
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 2rem;
  /* padding-right: 1rem; */
}

.main > .logo-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.main > .logo-container > .logo {
  display: block;
  margin: 0;
}
.main > .logo-container > .logo-small {
  display: none;
  margin: 0;
}

.main > .logo-container > h4 {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  margin-top: -3rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #979797;
}

.main > .logo-container:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-top: 20px;
  border-bottom: 2px solid #979797;
  margin-top: -1.5rem;
}

.main > .title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.main > p {
  font-family: 'Roboto', sans-serif;
  color: #fec420;
  margin-bottom: 2rem;
}

.main > ul {
  display: flex;
  list-style: none;
}
.main > ul > li {
  padding: 6px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .site {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .main {
    transform: translateY(-4rem);
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .site {
    grid-template-columns: 1fr 60vw;
    padding-bottom: 0;
  }
  .main > .logo-container > img {
    transform: translateX(-2rem);
  }
  .main > .logo-container > h4 {
    transform: translateX(-2rem);
    margin-top: -2rem;
  }
  .main > .logo-container:after {
    margin: -1.5rem 0 0 5rem;
  }
  .main > .title {
    text-align: left;
    font-size: 2rem;
  }
  .main > p {
    font-size: 0.7rem;
    margin: 0 1rem 2rem 1rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .site {
    grid-template-columns: 1fr;
    grid-gap: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .main {
    transform: translateY(-2rem);
    padding-left: 0;
  }
  .main > .logo-container > .logo {
    display: none;
  }
  .main > .logo-container > .logo-small {
    display: block;
    transform: translateY(-1rem);
  }
  .main > .logo-container > h4 {
    transform: translateY(-1rem);
  }
  .main > .logo-container:after {
    display: none;
  }
  .main > .title {
    text-align: center;
    font-size: 2rem;
  }
  .main > p {
    font-size: 0.7rem;
    margin: 0 1rem 2rem 1rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .site {
    transform: translateY(-2rem);
    grid-template-columns: 1fr 60vw;
    padding-bottom: 0;
  }
  .main {
    transform: translateY(-0.5rem);
    padding-left: 1rem;
  }
  .main > .logo-container > h4 {
    margin-top: -1.5rem;
  }
  .main > .logo-container:after {
    margin: 0 auto;
    padding-top: 0;
    margin-top: -1rem;
  }
  .main > .title {
    text-align: center;
    font-size: 1.3rem;
  }
  .main > p {
    font-size: 0.5rem;
  }
  .main > ul {
    transform: translateY(-1rem);
  }
  .main > ul > li {
    padding: 6px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .site {
    position: absolute;
    top: 0;
    bottom: 0;
    grid-template-columns: 1fr;
    grid-gap: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-height: unset;
    min-width: unset;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .main {
    transform: translateY(-2rem);
    padding-left: 0;
  }
  .main > .logo-container > .logo {
    display: none;
  }
  .main > .logo-container > .logo-small {
    display: block;
    transform: translateY(-1rem);
  }
  .main > .logo-container > h4 {
    transform: translateY(-1rem);
  }
  .main > .logo-container:after {
    display: none;
  }
  .main > .title {
    transform: translateY(-3rem);
    text-align: center;
    font-size: 1.5rem;
  }
  .main > p {
    transform: translateY(-3rem);
    font-size: 0.7rem;
    margin: 0 1rem 0 1rem;
  }
  .main > ul {
    transform: translateY(-2rem);
    font-size: 0.7rem;
    margin: 0 1rem 1rem 1rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .site {
    transform: translateY(-2rem);
    grid-template-columns: 1fr 60vw;
    grid-gap: 0;
    padding-bottom: 0;
  }
  .main {
    transform: translateY(-0.5rem);
    padding-left: 1rem;
  }
  .main > .logo-container > h4 {
    margin-top: -1.5rem;
  }
  .main > .logo-container:after {
    margin: 0 auto;
    padding-top: 0;
    margin-top: -1rem;
  }
  .main > .title {
    text-align: center;
    font-size: 1rem;
  }
  .main > p {
    font-size: 0.5rem;
    margin: 0 1rem 1rem 1rem;
  }
  .main > ul {
    transform: translateY(-1rem);
    margin: 0 1rem 1rem 1rem;
  }
  .main > ul > li {
    padding: 6px;
  }
}
