.ipad-footer {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  margin: 0;
  z-index: 0;
}

.ipad-footer ul {
  display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .ipad-footer {
    display: block;
    height: 45vh;
  }
}
