.main {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main > .title {
  text-transform: uppercase;
  text-align: center;
}
.main > ul {
  display: flex;
  list-style: none;
}
.main > ul > li {
  padding: 6px;
}
