.mobile-footer {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  margin: 0;
  z-index: 0;
}

@media only screen and (min-width: 320px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .mobile-footer {
    display: block;
  }
}
