.mobile-share {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  z-index: 1000;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.social-modal {
  z-index: 100000;
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .mobile-share {
    display: block;
  }
}

@media only screen and (min-height: 320px) and (max-width: 767px) and (orientation: landscape) {
  .mobile-share {
    display: block;
    transform: rotate(-90deg);
    transform-origin: right top;
    top: 0;
    right: 98%;
  }
}
