.play-share {
  color: white;
  font-size: 3rem;
  text-align: left;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background-color: transparent;
}

.play-share > .share-wrapper {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.play-share > div > .play,
.share {
  font-size: 1.5rem;
  width: 200px;
  height: 3.5rem;
  border-radius: 5px;
  margin-right: 2rem;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}

.play-share > div > .play,
.share:focus {
  outline: none;
}

.play-share > div > .share {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0;
}

.button-text-play {
  display: inline;
}

.button-text-watch {
  display: none;
}

.social-modal .modal-content {
  padding-left: 0;
  padding-top: 0;
}

.social-modal .modal-body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .play-share {
    justify-content: flex-start;
  }
  .play-share > div > .play {
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    text-align: center;
  }
  .button-text-play {
    display: none;
  }
  .button-text-watch {
    display: inline;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .play-share {
    justify-content: flex-start;
  }
  .play-share > div > .play {
    width: 150px;
    height: 3rem;
  }
  .play-share > div > .share {
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
  }
  .button-text-play {
    display: inline;
  }
  .button-text-watch {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .play-share {
    justify-content: flex-start;
    height: 100px;
    transform: translateY(-2rem);
  }
  .play-share > div > .play {
    width: 100px;
    height: 2rem;
    font-size: 1rem;
  }
  .play-share > div > .share {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
  .button-text-play {
    display: inline;
    font-size: 1rem;
  }
}
