.play-share {
  color: white;
  font-size: 3rem;
  text-align: left;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background-color: transparent;
}

.play-share > .share-wrapper {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.play-share > div > .play,
.share {
  font-size: 1.5rem;
  width: 200px;
  height: 3.5rem;
  border-radius: 5px;
  margin-right: 2rem;
  cursor: pointer;
}

.play-share > div > .play,
.share:focus {
  outline: none;
}

.play-share > div > .share {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0;
}

.social-modal .modal-content {
  padding-left: 0;
  padding-top: 0;
}

.social-modal .modal-body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
