.read-more {
  display: flex;
  justify-content: flex-end;
}

.read-more button {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.read-more button:focus {
  outline: none;
}

/****BASE MODAL STYLES****/

.modal-content {
  position: relative;
  overflow: hidden;
  padding-left: 1rem;
  padding-top: 1rem;
  border: none;
  height: 90vh;
}

.modal-content .modal-text {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  color: #ffffff;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 0;
  top: 50%;
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.modal-button {
  position: absolute;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-button:focus {
  outline: none;
}

.modal-text .title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.modal-text .we-protect {
  font-size: 2rem;
  font-weight: 100;
}

.modal-content .modal-text p {
  font-size: 0.7rem;
}

/****JAVIER MODAL MODS****/

.javier-modal-content {
  position: relative;
  overflow: hidden;
  padding-left: 0;
  padding-top: 0;
  border: none;
  height: 90vh;
}

.javier-modal-content .javier-modal-img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.javier-modal-button {
  right: 1.5rem;
  top: 0.5rem;
}

.javier-modal-text .title {
  font-size: 2.7rem;
}

/****ANDY MODAL MODS****/

.andy-modal-content .andy-modal-img {
  position: absolute;
  margin-left: -10rem;
  padding-left: 10rem;
  margin-top: -12rem;
  padding-top: 12rem;
}

.andy-modal-button {
  right: 1.5rem;
  top: 0.5rem;
}
