@font-face {
  font-family: 'din-condensed-regular';
  src: url('../fonts/FONTS_DIN.ttf');
}

@font-face {
  font-family: 'din-condensed-light';
  src: url('../fonts/FONTS_DINWeb-CondLight.ttf');
}

.read-more {
  font-family: din-condensed-regular, sans-serif;
  display: flex;
  justify-content: flex-end;
}

.read-more button {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.read-more button:focus {
  outline: none;
}

/****BASE MODAL STYLES****/

.modal-content {
  position: relative;
  overflow: hidden;
  border: none;
  padding-left: 1rem;
  padding-top: 1rem;
}

.modal-content .modal-text {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  color: #ffffff;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 0;
  top: 40%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.modal-button {
  position: absolute;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-button:focus {
  outline: none;
}

.modal-text .title {
  font-family: din-condensed-bold, sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 60px;
  margin: 0;
}

.modal-text .we-protect {
  font-family: din-condensed-light, sans-serif;
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 10px;
}

.modal-content .modal-text .modal-story-html {
  font-size: 14px;
  font-family: din-condensed-regular, sans-serif;
  line-height: 1.4;
  overflow: hidden;
}

/****JAVIER MODAL MODS****/

.javier-modal-content {
  position: relative;
  overflow: hidden;
  padding-left: 0;
  padding-top: 0;
  border: none;
  height: 90vh;
}

.javier-modal-content .javier-modal-text {
  padding: 10px;
}

.javier-modal-content .javier-modal-img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.javier-modal-button {
  right: 1.5rem;
  top: 0.5rem;
}

/****ANDY MODAL MODS****/

.modal-content.andy-modal-content {
  height: 90vh;
}

.andy-modal-content .andy-modal-text {
  padding: 10px;
}

.andy-modal-content .andy-modal-text p {
  margin-bottom: 14px;
}

.andy-modal-content .andy-modal-img {
  position: absolute;
  margin-left: -10rem;
  padding-left: 10rem;
  margin-top: -12rem;
  padding-top: 12rem;
}

.andy-modal-button {
  right: 1.5rem;
  top: 0.5rem;
}

@media only screen and (min-device-height: 1024px) {
  .modal-content .modal-content {
    height: 70vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .modal-content .modal-text {
    bottom: 1rem;
    right: 1rem;
    left: 0;
    top: 40%;
    height: auto;
  }
  .modal-content .modal-content {
    height: 70vh;
  }
  .modal-text .title {
    font-size: 2rem;
  }
  .javier-modal-text .title {
    font-size: 1.7rem;
  }
  .modal-text .we-protect {
    font-size: 1.7rem;
  }
  .andy-modal-content .andy-modal-img {
    position: absolute;
    margin-left: -10rem;
    padding-left: 10rem;
    margin-top: -10rem;
    padding-top: 12rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .modal-content .modal-content {
    height: 80vh;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .read-more {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .read-more {
    display: none;
  }
}
