.slider {
  position: relative;
  right: -4.5vw;
}

.slider-card-image {
  text-decoration: none;
  margin-left: 1.5rem;
}

.slider-card-image > h4 {
  text-align: left;
  position: absolute;
  bottom: 4vw;
  left: 3vw;
  color: #ffffff;
  text-transform: uppercase;
}

.BrainhubCarousel {
  overflow: inherit;
}

.BrainhubCarousel__custom-arrowLeft {
  position: absolute;
  align-self: flex-end;
  left: 1vw;
  bottom: 5vh;
}

.BrainhubCarousel__custom-arrowRight {
  position: absolute;
  left: 5vw;
  bottom: 5vh;
}

.arrow-left,
.arrow-right {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}
