@font-face {
  font-family: 'din-condensed-black';
  src: url('../fonts/FONTS_DINWeb-CondBlack.otf');
}

.slider {
  position: relative;
  right: -4.5vw;
}

@keyframes slideRight {
  0% {
    transform: translateX(100rem);
  }
  80% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes h4 {
  from {
    transform: translateX(-1.5rem);
  }
  to {
    transform: translate(-1.5rem);
  }
}

.slider-card-image {
  text-decoration: none;
  margin-left: 1.5rem;
  animation: slideRight 2.5s ease-out;
}

.slider-card-image > img {
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.slider-card-image > h4 {
  font-family: din-condensed-black, sans-serif;
  z-index: 100000;
  text-align: left;
  position: absolute;
  bottom: 4vw;
  left: 3vw;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  animation: h4 2.5s linear;
}

.BrainhubCarousel {
  overflow: inherit;
}

.BrainhubCarousel__custom-arrowLeft {
  position: absolute;
  align-self: flex-end;
  left: 2vw;
  bottom: 15vh;
  /* animation: moveInBottom 2s ease-out; */
}

.BrainhubCarousel__custom-arrowRight {
  position: absolute;
  left: 8vw;
  bottom: 15vh;
  /* animation: moveInBottom 2s ease-out; */
}

.arrow-left,
.arrow-right {
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .slider-card-image > h4 {
    animation: none;
  }
  .slider-card-image {
    animation: none;
  }
}

@media only screen and (min-width: 1200px) {
  .slider-card-image > img:hover ~ h4 {
    transform-origin: bottom left;
    transform: translateY(2rem);
    color: #fec420;
  }

  .slider-card-image > img:hover {
    transform: translateY(1rem) scale(1.1);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .BrainhubCarousel {
    overflow: hidden;
    z-index: 1000;
    bottom: 4rem;
    left: -1rem;
  }
  .BrainhubCarousel__custom-arrowLeft,
  .BrainhubCarousel__custom-arrowRight {
    display: none;
  }

  .slider-card-image > h4 {
    bottom: 5vw;
    left: 5vw;
  }
}

/* iphone x */
@media only screen and (min-width: 768px) and (max-width: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .BrainhubCarousel {
    z-index: 10000;
    overflow: hidden;
  }
  .BrainhubCarousel li.BrainhubCarouselItem {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
  }
  .BrainhubCarousel__custom-arrowLeft,
  .BrainhubCarousel__custom-arrowRight {
    display: none;
  }

  .slider-card-image {
    margin-left: 1rem;
  }

  .slider-card-image > h4 {
    z-index: 10000;
    font-size: 0.5rem;
    bottom: 6vw;
    left: 6vw;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) and (orientation: portrait) {
  .BrainhubCarousel {
    z-index: 10000;
    overflow: hidden;
    bottom: 2rem;
  }
  .BrainhubCarousel li.BrainhubCarouselItem {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
  }
  .BrainhubCarousel__custom-arrowLeft,
  .BrainhubCarousel__custom-arrowRight {
    display: none;
  }

  .slider-card-image {
    margin-left: 1rem;
  }

  .slider-card-image > h4 {
    z-index: 10000;
    font-size: 0.8rem;
    bottom: 10vw;
    left: 10vw;
  }
}

@media only screen and (min-height: 375px) and (max-width: 767px) and (orientation: landscape) {
  .BrainhubCarousel {
    z-index: 10000;
    overflow: hidden;
    bottom: 2rem;
  }
  .BrainhubCarousel li.BrainhubCarouselItem {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
  }
  .BrainhubCarousel__custom-arrowLeft,
  .BrainhubCarousel__custom-arrowRight {
    display: none;
  }

  .slider-card-image {
    margin-left: 1rem;
  }

  .slider-card-image > h4 {
    z-index: 10000;
    font-size: 0.8rem;
    bottom: 6vw;
    left: 5vw;
  }
}

@media only screen and (max-height: 568px) and (orientation: portrait) {
  .BrainhubCarousel {
    z-index: 10000;
    overflow: hidden;
    bottom: 2rem;
  }
  .BrainhubCarousel li.BrainhubCarouselItem {
    width: 135px !important;
    min-width: 135px !important;
    max-width: 135px !important;
  }
  .BrainhubCarousel__custom-arrowLeft,
  .BrainhubCarousel__custom-arrowRight {
    display: none;
  }

  .slider-card-image {
    margin-left: 1rem;
  }

  .slider-card-image > h4 {
    z-index: 10000;
    font-size: 0.7rem;
    bottom: 10vw;
    left: 10vw;
  }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
  .BrainhubCarousel {
    z-index: 10000;
    overflow: hidden;
    bottom: 2rem;
  }
  .BrainhubCarousel li.BrainhubCarouselItem {
    width: 135px !important;
    min-width: 135px !important;
    max-width: 135px !important;
  }
  .BrainhubCarousel__custom-arrowLeft,
  .BrainhubCarousel__custom-arrowRight {
    display: none;
  }

  .slider-card-image {
    margin-left: 1rem;
  }

  .slider-card-image > h4 {
    z-index: 10000;
    font-size: 0.7rem;
    bottom: 7vw;
    left: 6vw;
  }
}

@media only screen and (max-height: 560px) and (orientation: portrait) {
  .BrainhubCarousel {
    z-index: 10000;
    overflow: hidden;
    bottom: 2.8rem;
  }
}
@media only screen and (max-width: 560px) and (orientation: landscape) {
  .BrainhubCarousel {
    z-index: 10000;
    overflow: hidden;
    bottom: 2.8rem;
  }
}

/* 
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  50% {
    opacity: 0;
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
} */

/* .BrainhubCarousel .BrainhubCarousel__trackContainer {
  animation: moveInLeft 2s ease-out;
} */

/* @keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
} */
/* @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .slider {
    right: 0;
    margin-left: 0;
    padding-left: 0;
  }
  .BrainhubCarousel__custom-arrowLeft,
  .BrainhubCarousel__custom-arrowRight {
    display: none;
  }
  .slider-card-image > h4 {
    bottom: 4vw;
    left: 4vw;
  }
} */
/* @media only screen and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */
/* @media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .BrainhubCarousel {
    z-index: 10000;
    overflow: hidden;
  }
  .BrainhubCarousel li.BrainhubCarouselItem {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
  }
  .BrainhubCarousel__custom-arrowLeft,
  .BrainhubCarousel__custom-arrowRight {
    display: none;
  }

  .slider-card-image {
    margin-left: 1rem;
  }

  .slider-card-image > h4 {
    z-index: 10000;
    font-size: 0.5rem;
    bottom: 6vw;
    left: 6vw;
  }
}

 */
