.slider {
  position: relative;
  right: -9vw;
}

.slider-card-image {
  text-align: center;
  color: black;
  padding-left: 1.5rem;
}

.BrainhubCarousel {
  overflow: inherit;
}

.BrainhubCarousel__custom-arrowLeft {
  position: absolute;
  align-self: flex-end;
  left: 1vw;
  bottom: 5vh;
}

.BrainhubCarousel__custom-arrowRight {
  position: absolute;
  left: 5vw;
  bottom: 5vh;
}

.arrow-left,
.arrow-right {
  color: #ffffff;
  font-size: 2rem;
}
