.social {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 2.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.3rem;
}
.social > ul {
  display: flex;
  list-style: none;
}
.social > ul > li {
  padding: 0 1rem;
  color: gray;
}
