@font-face {
  font-family: 'din-condensed-medium';
  src: url('../fonts/FONTS_DINWeb-CondMedium.ttf');
}

@font-face {
  font-family: 'din-condensed-black';
  src: url('../fonts/FONTS_DINWeb-CondBlack.otf');
}

@font-face {
  font-family: 'din-condensed-bold';
  src: url('../fonts/FONTS_DINWeb-CondBold.ttf');
}

@font-face {
  font-family: 'din-condensed-light';
  src: url('../fonts/FONTS_DINWeb-CondLight.ttf');
}

@font-face {
  font-family: 'din-condensed-regular';
  src: url('../fonts/FONTS_DIN.ttf');
}

body {
  overflow: hidden;
  font-family: din-condensed-medium, sans-serif;
}

.story-container {
  color: white;
  z-index: 0;
  max-height: 100vh;
  overflow: hidden;
}

.story-container > .story-bg-image {
  height: 100vh;
}

/*******BG Image style modifiers*********/
.story-container > .tanith-story-bg-image {
  height: 120vh;
}

.story-container > .tianna-story-bg-image {
  width: 160vw;
  right: 60vw;
}

.story-container > .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.story-content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40vw 1fr;
  height: 100vh;
  width: 100vw;
  padding: 2.5rem;
  z-index: 100;
  position: absolute;
  left: 0;
  top: -2rem;
}

.story-text > .story-logo > img {
  margin: 0;
  margin-top: -3rem;
  margin-left: -3rem;
}

.story-content > .mobile-logo {
  display: none;
}

.story-content > .story-text > .title {
  text-transform: uppercase;
  margin-top: -2rem;
  margin-bottom: 0;
}

.story-content > .story-text > h1.title {
  font-family: din-condensed-bold, sans-serif;
  letter-spacing: 2px;
  font-size: 80px;
  line-height: 60px;
}

.story-content > .story-text > .we-protect {
  font-family: din-condensed-light, sans-serif;
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 3rem;
}

.story-content > .story-text > p {
  font-family: din-condensed-regular, sans-serif;
  margin-top: 1rem;
  font-size: 16px;
  line-height: 1.4;
  height: 30vh;
  overflow: hidden;
  margin-bottom: 0;
}

.story-video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-video .story-video-image {
  max-height: auto;
  width: 80%;
  bottom: 2rem;
}

.story-video .story-video-image img {
  border-radius: 5%;
}

.story-video > h4 {
  font-family: din-condensed-black, sans-serif;
  position: absolute;
  bottom: 6rem;
  left: 5rem;
  text-transform: uppercase;
  font-size: 36px;
}

.story-video > .story-video-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  left: 45%;
  bottom: 45%;
}

.close-story {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  color: #ffffff;
  font-size: 1.5rem;
  right: 1rem;
  top: 1rem;
}

.close-story:hover {
  color: #ffffff;
}

@media only screen and (min-width: 1281px) {
  .story-video > h4 {
    bottom: 9rem;
    left: 9rem;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) {
  .story-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .story-video {
    display: none;
  }
  .story-content > .story-text > .story-logo {
    display: none;
  }
  .story-content > .mobile-logo {
    display: flex;
    justify-content: center;
    position: absolute;
  }
  .story-content > .mobile-logo > img {
    position: absolute;
    top: -10rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .story-video > h4 {
    bottom: 12rem;
    left: 4rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 896px) and (orientation: landscape) {
  .story-container {
    color: white;
    position: relative;
    z-index: 0;
    max-width: 100vw;
    max-height: 100vh;
  }

  .story-container > .story-bg-image {
    height: 100vh;
    position: absolute;
  }

  .story-container > .tanith-story-bg-image {
    height: 120vh;
    position: absolute;
  }

  .story-container > .tianna-story-bg-image {
    width: 160vw;
    right: 60vw;
  }

  .story-container > .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  .story-content {
    transform: translateY(-2rem);
    padding: 2.5rem;
  }

  .story-content > .story-text > h1.title {
    font-size: 2.5rem;
  }

  .story-content > .story-text > .we-protect {
    font-size: 1.5rem;
  }

  .story-content > .story-text > p {
    transform: translateY(-2.5rem);
    margin-top: 0;
    height: 20vh;
    overflow: scroll;
  }

  .story-video > h4 {
    bottom: 5.5rem;
    left: 2.5rem;
    font-size: 1rem;
  }
  .story-video > .story-video-button {
    left: 40%;
    bottom: 40%;
  }
  .story-video .story-video-image {
    bottom: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .story-content {
    padding: 1.5rem;
    overflow: auto;
  }

  .story-content {
    padding: 1rem;
    padding-left: 0;
    margin: 0;
  }

  .story-content > .story-text {
    position: absolute;
    top: 15rem;
    padding: 1rem;
    padding-bottom: 4rem;
    margin: 0;
    overflow: visible;
  }

  .story-content > .mobile-logo {
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 0;
    width: 350px;
  }
  .story-content > .mobile-logo > img {
    position: unset;
    width: 100%;
    align-self: center;
    margin: 0;
  }

  .story-content > .story-text > .title {
    transform: translateY(1rem);
  }

  .story-content > .story-text > h1.title {
    /* font-size: 3rem;
    transform: translateY(1rem); */
  }

  .story-content > .story-text > .we-protect {
    /* font-size: 2rem; */
  }

  .story-content > .story-text > p {
    margin-top: 0;
    height: unset;
    padding: 0.5rem;
    z-index: -10;
  }

  .story-video > h4 {
    bottom: 4.5rem;
    left: 2.5rem;
    font-size: 1rem;
  }
  .story-video > .story-video-button {
    left: 40%;
    bottom: 40%;
  }
  .story-video .story-video-image {
    bottom: 0;
  }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
  .story-content > .story-text > h1.title {
    font-size: 2rem;
  }
}

@media only screen and (max-height: 560px) and (orientation: portrait) {
  .story-content > .mobile-logo {
    top: 1rem;
  }
  .close-story {
    top: 2rem;
  }
}
