@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

.story-container {
  color: white;
  position: relative;
  z-index: 0;
}

.story-container > .story-bg-image {
  height: 100vh;
  position: absolute;
}

.story-container > .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.story-content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40vw 1fr;
  min-height: 100vh;
  min-width: 100vw;
  padding: 2.5rem;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}

.story-content > .story-text > a > .story-logo {
  margin: 0;
  margin-top: -3rem;
  margin-left: -3rem;
}

.story-content > .story-text > .title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin-top: -2rem;
  margin-bottom: 0;
}

.story-content > .story-text > h1.title {
  letter-spacing: 2px;
}

.story-content > .story-text > .we-protect {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.story-content > .story-text > p {
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  height: 25vh;
  overflow-y: auto;
}

.story-content > .story-text > p::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.story-content > .story-text > p::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.story-content > .story-text > p::-webkit-scrollbar-thumb {
  background-color: #979797;
}

.story-video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-video > .story-video-image {
  max-height: auto;
  width: 80%;
  bottom: 2rem;
  border-radius: 20px;
}

.story-video > h4 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 7rem;
  left: 5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
}

.story-video > .story-video-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  left: 45%;
  bottom: 50%;
}

.close-story {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  color: #ffffff;
  font-size: 1.5rem;
  right: 1rem;
  top: 1rem;
}

.close-story:hover {
  color: #ffffff;
}
