@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

.story-container {
  color: white;
  z-index: 0;
}

.story-container > .story-bg-image {
  height: 100vh;
}

/*******BG Image style modifiers*********/
.story-container > .tanith-story-bg-image {
  height: 120vh;
}

.story-container > .tianna-story-bg-image {
  width: 160vw;
  right: 60vw;
}

.story-container > .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.story-content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40vw 1fr;
  height: 100vh;
  width: 100vw;
  padding: 2.5rem;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}

.story-text > .story-logo > img {
  margin: 0;
  margin-top: -3rem;
  margin-left: -3rem;
}

.story-content > .mobile-logo {
  display: none;
}

.story-content > .story-text > .title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin-top: -2rem;
  margin-bottom: 0;
}

.story-content > .story-text > h1.title {
  letter-spacing: 2px;
}

.story-content > .story-text > .we-protect {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.story-content > .story-text > p {
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  height: 20vh;
  overflow: hidden;
}

.story-video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-video > .story-video-image {
  max-height: auto;
  width: 80%;
  bottom: 2rem;
  border-radius: 5%;
}

.story-video > h4 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 8rem;
  left: 5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
}

.story-video > .story-video-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  left: 45%;
  bottom: 50%;
}

.close-story {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  color: #ffffff;
  font-size: 1.5rem;
  right: 1rem;
  top: 1rem;
}

.close-story:hover {
  color: #ffffff;
}

@media only screen and (min-device-height: 1024px) {
  .story-video > h4 {
    bottom: 10rem;
    left: 8rem;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) {
  .story-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .story-video {
    display: none;
  }
  .story-content > .story-text > .story-logo {
    display: none;
  }
  .story-content > .mobile-logo {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .story-content > .mobile-logo > img {
    position: absolute;
    top: -10rem;
  }
  .story-content > .story-text > p {
    font-size: 1rem;
    letter-spacing: 1.5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .story-video > h4 {
    bottom: 12rem;
    left: 4rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .story-content {
    padding: 1.5rem;
  }
  .story-content > .story-text > .title {
    font-size: 2.5rem;
  }

  .story-content > .story-text > .we-protect {
    font-size: 2rem;
  }

  .story-content > .story-text > p {
    height: 30vh;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .story-container {
    color: white;
    position: relative;
    z-index: 0;
    max-width: 100vw;
    max-height: 100vh;
  }

  .story-container > .story-bg-image {
    height: 100vh;
    position: absolute;
  }

  .story-container > .tanith-story-bg-image {
    height: 120vh;
    position: absolute;
  }

  .story-container > .tianna-story-bg-image {
    width: 160vw;
    right: 60vw;
  }

  .story-container > .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }

  .story-content {
    transform: translateY(-2rem);
    padding: 2.5rem;
  }

  .story-content > .story-text > .title {
    font-size: 1rem;
  }

  .story-content > .story-text > .we-protect {
    font-size: 1rem;
  }

  .story-content > .story-text > p {
    transform: translateY(-2.5rem);
    margin-top: 0;
    font-size: 0.7rem;
    line-height: 1;
    height: 25vh;
    overflow: scroll;
  }

  .story-video > h4 {
    bottom: 4.5rem;
    left: 2.5rem;
    font-size: 1rem;
  }
  .story-video > .story-video-button {
    left: 40%;
    bottom: 40%;
  }
  .story-video > .story-video-image {
    bottom: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .story-content {
    padding: 1.5rem;
  }
  .story-content > .mobile-logo > img {
    position: absolute;
    top: -6rem;
    width: 250px;
  }

  .story-content {
    padding: 1rem;
    padding-left: 0;
    margin: 0;
  }

  .story-content > .story-text {
    padding: 1rem;
    margin: 0;
  }

  .story-content > .story-text > .title {
    font-size: 2rem;
    transform: translateY(1rem);
  }

  .story-content > .story-text > .we-protect {
    font-size: 1.5rem;
  }

  .story-content > .story-text > p {
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.3;
    height: 30vh;
    padding: 0.5rem;
    overflow: scroll;
  }

  .story-video > h4 {
    bottom: 4.5rem;
    left: 2.5rem;
    font-size: 1rem;
  }
  .story-video > .story-video-button {
    left: 40%;
    bottom: 40%;
  }
  .story-video > .story-video-image {
    bottom: 0;
  }
}
