.story-container {
  color: white;
  position: relative;
}

.story-container > .story-bg-image {
  max-height: 100vh;
}

.story-container > .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.story-content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40vw 1fr;
  min-height: 100vh;
  max-width: 100vw;
  padding: 2.5rem;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}

.story-content > .story-text > .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0;
}

.story-content > .story-text > .we-protect {
  font-size: 3.5rem;
  font-weight: 100;
}

.play-share {
  color: white;
  font-size: 4rem;
}

.story-content > .story-text > p {
  margin-top: 3rem;
}

.play-share {
  text-align: left;
  margin-top: 1rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background-color: transparent;
}

.play-share > .share-wrapper {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.play-share > div > .play,
.share {
  font-size: 1.5rem;
  width: 200px;
  height: 4rem;
  border-radius: 5px;
  margin-right: 2rem;
  cursor: pointer;
}

.play-share > div > .share {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-right: 0;
}
