.story-container {
  color: white;
  position: relative;
  z-index: 0;
}

.story-container > .story-bg-image {
  height: 100vh;
  position: absolute;
}

.story-container > .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.story-content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 40vw 1fr;
  min-height: 100vh;
  min-width: 100vw;
  padding: 2.5rem;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}

.story-content > .story-text > p {
  height: 80vh;
  overflow: scroll;
}

.story-content > .story-text > a > .story-logo {
  margin: 0;
  margin-top: -3rem;
  margin-left: -3rem;
}

.story-content > .story-text > .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin-top: -2rem;
}

.story-content > .story-text > .we-protect {
  font-size: 3rem;
  font-weight: 100;
}

.story-content > .story-text > p {
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1.5;
  height: 25vh;
  overflow: scroll;
}

.story-video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-video > .story-video-image {
  max-height: auto;
  width: 80%;
  bottom: 2rem;
}

.story-video > h4 {
  position: absolute;
  bottom: 8rem;
  left: 5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
}

.story-video > .story-video-button {
  cursor: pointer;
  position: absolute;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  left: 45%;
  bottom: 50%;
}

.close {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  color: #ffffff;
  font-size: 1.5rem;
  right: 1rem;
  top: 1rem;
}
