.transition-button-left {
  left: 5rem;
  bottom: 3rem;
}

.transition-button-right {
  right: 5rem;
  bottom: 3rem;
}

.transition-button-left,
.transition-button-right {
  display: flex;
  position: absolute;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.transition-button-left:hover,
.transition-button-right:hover {
  color: #ffffff;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
