.transition-button-left {
  left: 5rem;
  bottom: 3rem;
}

.transition-button-right {
  right: 5rem;
  bottom: 3rem;
}

.transition-button-left,
.transition-button-right {
  display: flex;
  position: absolute;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.transition-button-left:hover,
.transition-button-right:hover {
  color: #ffffff;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.transition-button-left span,
.transition-button-right span {
  font-size: 1rem;
  font-weight: bold;
}
.transition-button-right span {
  padding-right: 1rem;
}
.transition-button-left span {
  padding-left: 1rem;
}

/*****Tanith's special buttons********/

.tanith-transition-button-left,
.tanith-transition-button-right {
  bottom: 10.6rem;
}

@media only screen and (min-device-height: 1024px) {
  .tanith-transition-button-left,
  .tanith-transition-button-right {
    bottom: 14.4rem;
  }
  .transition-button-left,
  .transition-button-right {
    font-size: 2.5rem;
  }
  .transition-button-left span,
  .transition-button-right span {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tanith-transition-button-left,
  .tanith-transition-button-right {
    bottom: 14.4rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .tanith-transition-button-left,
  .tanith-transition-button-right {
    bottom: 11.49rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .transition-button-left,
  .transition-button-right {
    bottom: 1.5rem;
    font-size: 2rem;
  }
  .transition-button-left {
    left: 2rem;
  }
  .transition-button-right {
    right: 2rem;
  }
  .transition-button-left span,
  .transition-button-right span {
    font-size: 1rem;
  }
  .transition-button-right span {
    padding-right: 0.5rem;
  }
  .transition-button-left span {
    padding-left: 0.5rem;
  }
  .tanith-transition-button-left,
  .tanith-transition-button-right {
    bottom: 9.85rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .transition-button-left,
  .transition-button-right {
    bottom: 2rem;
    font-size: 1rem;
  }
  .transition-button-left {
    left: 2rem;
  }
  .transition-button-right {
    right: 2rem;
  }
  .transition-button-left span,
  .transition-button-right span {
    font-size: 0.8rem;
  }
  .transition-button-right span {
    padding-right: 0.5rem;
  }
  .transition-button-left span {
    padding-left: 0.5rem;
  }
  .tanith-transition-button-left,
  .tanith-transition-button-right {
    bottom: 6.19rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 374px) and (orientation: portrait) {
  .transition-button-left,
  .transition-button-right {
    bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .transition-button-left {
    left: 2rem;
  }
  .transition-button-right {
    right: 2rem;
  }
  .transition-button-left span,
  .transition-button-right span {
    font-size: 0.8rem;
  }
  .transition-button-right span {
    padding-right: 0.5rem;
  }
  .transition-button-left span {
    padding-left: 0.5rem;
  }
  .tanith-transition-button-left,
  .tanith-transition-button-right {
    bottom: 8.59rem;
  }
}

@media only screen and (max-width: 667px) and (orientation: landscape) {
  .tanith-transition-button-left,
  .tanith-transition-button-right {
    bottom: 2rem;
  }
}
