.video-wrapper {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  height: 100%;
  width: 100%; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
}

.video-container > .video-back-button {
  display: flex;
  position: absolute;
  left: 1rem;
  top: 2.5rem;
  z-index: 10000;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) {
  .video-container {
    transform: rotate(90deg);
    transform-origin: left top;
    height: 100vw;
    width: 100vh;
    position: absolute;
    top: 100vh;
    left: 0;
  }
}
