.video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.video-container > iframe {
  background: #000;
  border: none;
  height: 100%;
  width: 100%;
  padding-top: 4rem;
}

.video-container > .video-back-button {
  display: flex;
  position: absolute;
  left: 2rem;
  top: 1rem;
  z-index: 10000;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: portrait) {
  .video-container {
    transform: rotate(-90deg);
    transform-origin: left top;
    height: 100vw;
    width: 100vh;
    position: absolute;
    top: 100vh;
    left: 0;
  }
}
